// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";

//body{
  //background-color: #FAFBFC;
//}

body{
  background-color: #1B1B1B;
}
h1{
  text-align: center;
}
a:link, a:active{
  color: #FF3535;
}
a:hover{
  color: #FF2525;
}
a:visited{
  color: #FF2525;
}
.background {
  background: url(/img/background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 106%;
  left: 0;
  padding: 10%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
#map{
  border: 3px solid #FFFFFF;
  @include border-radius(3px, 3px);
  img{
    max-width: inherit;
  }
}
.infowindow{
  color: #666;
  font-size: 13px;
  font-family: "Ubuntu Condensed",arial,helvetica,sans-serif;
  h4{
    color: #333;
    font-size: 15px;
    font-family: "Ubuntu Condensed",arial,helvetica,sans-serif;
    font-weight:bold;
  }
}
fieldset{
  border: none;
  font-size: 15px;
  margin: 28px 0 10px;
  legend{
    background: none;
  }
}
.form_row{
  border-bottom: 1px solid #fff;
}
footer.row{
  margin-top: 18px;
}
