// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";

h4 {
  color: $txtColor;
  font-size: 20px;
}
p, ol, ul, td {
  font-family: $bodyFontFamily;
  line-height: 18px;
}
.tabs dd.active, .tabs li.active {
  border-color: #FF6600;
}
.tabs dd.active a, .tabs li.active a {
  color: #3C3C3C;
}
.tabs dd a, .tabs li a {
  font-size: 18px;
  font-variant: small-caps;
}
.button {
  background-color: $mainColor;
  border-color: $mainColor;
  &:hover{
    background-color: darken($mainColor, 5%)
  }
}
h2.main-title{
  color: #525252;
  font-size: 45px;
  font-weight: normal;
  padding-right: 14%;
  text-align: right;
}
h3{
  color: $mainColor;
}
#map_canvas{
  width: 100%;
  height: 500px;
}
.infowindow{
  h2{
    font-size: 1em;
  }
}
.team{
  .member{
    margin-bottom: 10px;
  }
}
#results{
  margin-top:20px;
}
.project{
  text-align: justify;
}
footer{
  margin: 30px 0;
  padding: 11px 0;
  text-align: center;
  .fb-like{
    vertical-align: top;
  }
}
