---
title: Centros Clandestinos de Detención
klass: ccd
---
%header.row
  .twelve
    %h1
      Centros Clandestinos de Detención
.container{style: "position: relative;"}
  .background
  .row
    .twelve
      %h5
        El Centro Clandestino de Detención más cercano está #{link_to 'aquí', '#', id: 'closestCCD'}.
      %p
        El mapa geolocaliza los Centros Clandestinos de Detención de la última dictadura militar y encuentra el más cercano desde donde usted se conecta. Los datos son provistos por el Registro Unificado Nacional de Víctimas del Terrorismo de Estado, Dirección Nacional de Gestión de Fondos Documentales, Archivo Nacional de la Memoria, Secretaría de Derechos Humanos de la Nación.
  %section.row
    .background
    .twelve.columns
      #fusion{data: {fusion: data.config.fusion, api: data.config.gm }}
      #map{style: 'width:100%; height:550px;'}
%section.row
  .nine.columns
    %form
      %fieldset
        %legend
          Filtrar por:
        .row
          .four.columns
            %label
              Provincia
            %select{name: 'provincia', id: 'selectState'}
          .four.columns
            %label
              Tipo de establecimiento
            %select{name: 'establecimiento', id: 'selectBuilding'}
          .four.columns
            .reset{style: 'margin-top: 20px;'}
              %a{href: '#', id: 'reset'}
                Reiniciar filtros
  .three.columns
%section.row.last_row
  .twelve.columns
    %label
      Referencias
    %ul.references
      %li.police
        <img src='/img/ref-policia.png'>
        Policía
      %li.navy
        <img src='/img/ref-marina.png'>
        Marina
      %li.army
        Ejército
        <img src='/img/ref-ejercito.png'>
      %li.jail
        <img src='/img/ref-penitenciaría.png'>
        Penitenciaría
      %li.prefecture
        <img src='/img/ref-prefectura.png'>
        Prefectura
      %li.others
        <img src='/img/ref-otros.png'>
        Otros
%script#optionsSelect{type: 'text/template'}
  :plain
    <option>Todos</options>
    <% _.each(options, function(option){ %>
      <option value='<%= option %>'><%= option %> </option>
    <% }); %>
%script#infowindowTemplate{:type => "text/template"}
  :plain
    <section class='infowindow'>
      <header>
        <h4>
          <%= name %>
        </h4>
      </header>
      <article>
        <ul>
          <% if(!isBlank(otherName)){ %>
            <li><%= otherName %></li>
          <% } %>
          <% if(!isBlank(ccdType)){ %>
            <li><%= ccdType %></li>
          <% } %>
          <% if(!isBlank(address)){ %>
            <li><%= address %></li>
          <% } %>
          <% if(!isBlank(city)){ %>
            <li><%= city %></li>
          <% } %>
          <% if(!isBlank(state)){ %>
            <li><%= state %></li>
          <% } %>
        </ul>
      </article>
    </section>
