.row
  .twelve
    #fusion{data: {fusion: data.config.fusion }}
    #map
    #debug
%script#infowindowTemplate{:type => "text/template"}
  :plain
    <section class='infowindow'>
      <header>
        <h4>
          <%= name %>
        </h4>
      </header>
      <article>
        <ul>
          <% if(!isBlank(otherName)){ %>
            <li><%= otherName %></li>
          <% } %>
          <% if(!isBlank(ccdType)){ %>
            <li><%= ccdType %></li>
          <% } %>
          <% if(!isBlank(address)){ %>
            <li><%= address %></li>
          <% } %>
          <% if(!isBlank(city)){ %>
            <li><%= city %></li>
          <% } %>
          <% if(!isBlank(state)){ %>
            <li><%= state %></li>
          <% } %>
        </ul>
      </article>
    </section>
