---
title: Memoria interactiva
---
<section class=''>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Memoria interactiva</h1>
      <p>Visualizaciones sobre detenidos-desaparecidos de la última dictadura militar argentina y sobre los juicios de Lesa Humanidad.</p>
    </div>
  </div>
  <div class='row'>
    <div class='six columns'>
      <h5>Gráfico de relaciones entre organización política y Centros Clandestinos de Detención sobre una base de 50 casos</h5>
      <p>
        <iframe width="400" height="400" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=GRAPH&amp;containerId=gviz_canvas&amp;sdb=1&amp;state=%7B%22ps%22%3A%221_0_-3z_-y_2_-38_u_v_-31_-r_16_-3a_-k_1_-3v_-6_a_-2h_13_1a_-49_-6_10_-3j_-1o_1b_-34_-3_1c_-3h_-4_t_-4l_-d_6_-2x_1l_18_-41_b_i_-4n_-5_w_-4b_a_u_-4n_2_8_-3z_-1y_y_-4f_o_15_-48_q_p_-4d_-1v_x_-3u_1l_5_-4q_-1q_z_-36_1z_9_-54_-17_h_-50_-1j_17_-3m_1x_7_-5c_-2_d_-2u_-1n_4_-47_24_g_-1v_1q_14_-4f_1x_b_-4l_1p_f_-5b_-1w_l_-5k_-1a_m_-5k_-m_3_-1l_w_r_-5h_-1l_s_-5m_-y_12_-4q_1f_19_-63_-2_j_-67_-g_c_-5c_1p_e_-68_-1f_k_-69_-14_n_-5g_1c_o_-65_-1o_q_-61_-1y_11_-56_21_13_-69_-t_%22%2C%22cx%22%3A-51.18114516519254%2C%22cy%22%3A-7.392502687679831%2C%22sw%22%3A767.8837344696981%2C%22sh%22%3A204.56173978990338%2C%22z%22%3A1.4967369979373712%7D&amp;gc=true&amp;gd=true&amp;q=select+col1%2C+col10%2C+col9+from+1IsWeBjpwMa4tdc-HXXEThJp_ZcHcmpgWWgppzjg&amp;qrs=+where+col1+%3E%3D+&amp;qre=+and+col1+%3C%3D+&amp;qe=&amp;width=400&amp;height=400"></iframe>
      </p>
      <p>
        El gráfico muestra los lugares de destino de los detenidos-desaparecidos en la última dictadura militar según organización política a la que pertenecían. El tamaño de los globos indica la cantidad de casos.
      </p>
    </div>
    <div class='six columns'>
      <h5>Mapa de relaciones por Centro Clandestino de Detención (50 casos)</h5>
      <p>
        <iframe width="400" height="400" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=GRAPH&amp;containerId=gviz_canvas&amp;sdb=1&amp;state=%7B%22ps%22%3A%221_1z_47_-4_2e_-1o_-8_1_-79_b_t_3_u_2j_3g_-p_27_2o_13_2k_-2a_17_21_1o_-10_2l_-2p_-1b_4_-7z_-13_2v_-81_4_1u_-36_q_h_7l_9_a_-z_p_c_s_f_j_71_t_n_-3v_u_q_-2t_1_7_-8p_l_8_-4j_1s_i_7i_1b_r_-51_q_16_-3h_-1o_1f_2h_-16_23_3m_-1o_2h_d_-1b_19_4o_e_22_2i_-1t_1y_-8n_-k_o_-3b_-c_g_67_a_5_-7h_-k_6_-6v_-k_1d_48_17_x_n_-6_k_-3m_-t_d_u_1y_p_-1t_-12_1e_4g_-y_3_-81_u_1a_4w_-l_0_-7f_16_m_-40_-f_y_n_-1v_1c_40_l_2_-8m_0_11_-19_-1v_18_3o_13_f_1f_w_u_-13_1j_v_x_14_w_-d_-i_1b_3i_9_1g_17_-f_1i_2j_-m_1l_5e_8_1q_1t_1p_1v_-1u_j_1w_-29_a_1x_-1h_13_20_5h_-15_25_1s_0_28_-6c_-1i_2d_-n_1x_2f_-2j_-i_1p_-4q_6_24_6m_1g_e_1c_1p_2o_-81_-g_2s_30_-1l_2n_-t_-c_26_81_z_2m_4o_-1p_s_-5r_n_17_-4f_-1q_2g_-5j_1q_2x_-8r_1c_l_-4l_-u_2t_-1i_-1b_12_-p_-1u_2p_68_-1c_2u_-5v_-16_b_-9_6_15_-3_1l_2c_72_a_14_-1w_-1x_9_-58_1i_z_18_-1v_1k_-46_-1f_1m_63_-a_1s_2o_1_1t_b_1w_2a_6q_-b_2q_-4o_16_2w_-5s_-1p_10_-70_-1d_13_-n_-1f_1h_j_-t_1j_2d_6_1n_2_-6_1o_1_21_1r_2l_1x_29_-63_-s_2b_-7w_1r_2i_5x_-j_2r_4_-s_%22%2C%22cx%22%3A-5.893120145509505%2C%22cy%22%3A3.0275162900978154%2C%22sw%22%3A731.0999134340418%2C%22sh%22%3A214.8538521112286%2C%22z%22%3A1.2488646144642672%7D&amp;gc=true&amp;gd=true&amp;q=select+col0%2C+col10%2C+col9+from+1IsWeBjpwMa4tdc-HXXEThJp_ZcHcmpgWWgppzjg&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=&amp;width=400&amp;height=400"></iframe>
      </p>
      <p>
        El gráfico muestra los lugares de destino de los detenidos-desaparecidos en la última dictadura militar según organización política a la que pertenecían. El tamaño de los globos indica la cantidad de casos.
Los datos son provistos por el Registro Unificado Nacional de Víctimas del Terrorismo de Estado, Dirección Nacional de Gestión de Fondos Documentales, Archivo Nacional de la Memoria, Secretaría de Derechos Humanos de la Nación.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='six columns'>
      <h5>Evolución de los Juicios de Lesa Humanidad en el país</h5>
      <p>
        <iframe width="400" height="400" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=GRAPH&amp;containerId=gviz_canvas&amp;sdb=1&amp;state=%7B%22ps%22%3A%221_p_4z_-m_0_3z_d_c_2n_f_2_1s_y_i_59_-1g_g_3v_-j_2h_38_-l_r_5t_-g_1_3b_12_2c_33_-9_1b_4m_13_q_5s_-13_19_3l_1k_1z_3g_-t_f_5y_u_j_1x_-q_2j_2l_-1f_x_65_-v_11_5c_q_u_4f_-1q_a_6e_-g_25_3r_-11_7_36_1q_9_2d_-v_1y_51_y_2d_1h_-d_2l_1i_-16_3_1b_1s_1u_78_17_17_10_-x_2f_-15_-3_1j_70_v_l_4u_1l_1s_6e_f_16_2m_1v_t_7u_-9_v_26_-1o_n_7g_k_4_6r_1a_1a_1b_-3_2g_-1s_-n_1v_7k_1l_1w_8l_-t_2k_d_-1j_1g_81_1p_b_9_n_1l_18_8_2b_1t_-1w_1i_1j_-k_29_2t_-1w_s_1m_-1k_y_8d_-1f_12_8p_-5_1r_3q_-1t_6_-6_r_23_5n_1t_5_-6_1c_1x_7p_5_h_-u_k_20_7_-13_1e_1v_20_k_6_12_15_8t_10_1t_7u_z_21_-1_-14_22_2v_21_26_18_-1s_1d_83_14_o_83_1e_2e_-e_-l_z_8f_-13_w_8b_d_2i_0_-1n_1h_83_s_24_-2_-s_m_8b_1g_10_8g_-i_27_r_-1n_1f_23_-1c_1m_7k_-s_28_2b_-1x_1k_6t_1n_1c_7y_4_2m_-6_-1e_e_-s_-8_d_-t_z_14_8t_m_1o_1n_-s_1q_1w_-14_1p_7q_-h_1n_81_g_18_-k_d_13_8s_8_8_-1_-1_2a_65_1i_%22%2C%22cx%22%3A147.41658931361883%2C%22cy%22%3A-2.34157177047267%2C%22sw%22%3A1319.3413167094484%2C%22sh%22%3A193.73988311555502%2C%22z%22%3A0.7490950963395316%7D&amp;gc=true&amp;gd=true&amp;q=select+col7%3E%3E0%2C+col0%3E%3E0%2C+col8%3E%3E0+from+1FaGr-uJK3U1p00tur3BljVUKriuM6VqmFvKXGLY&amp;qrs=+where+col7%3E%3E0+%3E%3D+&amp;qre=+and+col7%3E%3E0+%3C%3D+&amp;qe=&amp;att=true&amp;width=400&amp;height=400"></iframe>
      </p>
      <p>
        El gráfico muestra la evolución de los juicios en el país, denotando el avance en Capital Federal y Córdoba, y la poca evolución en otras provincias.
      </p>
    </div>
    <div class='six columns'>
      <h5>Gráfico de relación entre provincias y represores condenados</h5>
      <p>
        <iframe width="400" height="400" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=GRAPH&amp;containerId=gviz_canvas&amp;sdb=1&amp;state=%7B%22ps%22%3A%221_57_4g_-y_1u_4j_19_it_1y_-g_1_5u_e_hh_o_9_an_2l_m_2a_43_2_5l_3l_-n_5b_3y_-8_5f_3n_-1e_58_3i_-w_5a_4y_-7_5h_5d_-q_5c_5c_-1b_5j_3u_-1m_59_3j_-15_5d_3p_-e_5o_5e_-11_5e_59_-g_5g_56_-1k_9h_6q_18_2d_5q_18_2y_3d_y_3a_34_17_27_2t_18_37_6c_10_2u_68_7_2x_6g_p_24_1d_-6_25_80_y_3b_68_1d_2n_71_g_19_3a_1d_2m_77_17_1j_2u_3_1s_7l_-12_1q_8i_-3_v_2o_-12_k_2d_7_f_7c_t_5_7n_14_a_8m_-l_2b_1c_s_11_7x_-t_33_7x_h_8_75_-10_26_1q_-u_p_7j_-h_14_2e_w_2c_12_18_w_8d_-y_3_7w_-1_l_2k_-q_1l_8i_w_22_19_3_21_1h_-g_23_12_x_29_1q_16_28_2x_1i_%22%2C%22cx%22%3A164.48891020841788%2C%22cy%22%3A-33.99746285870574%2C%22sw%22%3A1329.5346795449766%2C%22sh%22%3A192.25450559611676%2C%22z%22%3A2.231571749171847%7D&amp;gc=true&amp;gd=true&amp;q=select+col5%2C+col0%2C+col8+from+1d6-E0psh7qo0xmJxg3VkifnI0AcQ3FofKmSofFU&amp;qrs=+where+col5+%3E%3D+&amp;qre=+and+col5+%3C%3D+&amp;qe=&amp;width=400&amp;height=400"></iframe>
      </p>
      <p>
        El gráfico permite evaluar la represión interprovincial de distintos represores como el caso de Luciano Benjamín Menéndez.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='twelve columns'>
      <h5>Relación entre Fuerza del Estado y represor condenado</h5>
      <p>
        <iframe width="900" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=GRAPH&amp;containerId=gviz_canvas&amp;sdb=1&amp;state=%7B%22ps%22%3A%221_6_-4w_-9_16_-15_4_3_-81_16_54_-28_-1k_1x_-br_-8_h_-av_p_9_-as_-11_3a_-5e_-w_1f_-22_l_1_-3l_1k_1h_-2s_-13_8f_-5h_n_d_-bt_-16_3h_-1j_-u_8w_-2_-1j_2q_-5r_d_8v_t_-1e_u_-31_-2_y_-5y_-a_5_-65_-2_l_-13_1g_o_-c2_17_8_-9s_-1b_i_-6l_b_m_-25_1h_j_-8a_-6_n_-aw_1f_3p_-4_s_1s_-6e_-18_1t_-65_-j_2v_-o_-1k_3c_-4o_z_3k_2_f_3o_3_2_1a_-2x_1b_3y_1_-c_47_-4q_-1i_32_-9s_-i_4m_-9l_g_64_-9f_-6_6l_-56_-1h_6m_-5k_-1c_6n_-cw_-b_6p_-62_9_73_-30_-8_7h_-7_-p_7w_-31_5_7x_-3p_-j_7y_-7r_a_8d_-5a_y_8g_-5u_-13_1l_-61_-t_10_-67_y_18_-4i_1g_1g_-22_-y_17_3_12_19_-2o_i_z_-38_-t_c_-9y_7_15_h_s_2_-98_n_11_-50_1i_x_-3c_-11_r_-2v_y_a_-5r_1n_7_-3q_-1k_12_-3e_n_1c_-3f_c_s_-9z_v_1b_-47_-1k_95_-2g_18_p_-6o_-f_e_-36_-j_q_-cl_12_14_-cm_n_1e_-14_1q_w_-3g_-18_4_-6a_1b_g_-a8_1c_3t_-2v_1n_1d_-4l_-1t_b_-45_1k_k_-bm_13_v_-6o_-3_13_-ck_8_f_-cj_-r_4l_-8x_-d_1i_-5e_1g_1j_8_-z_1k_m_3_1m_-e_1c_1n_-2f_-n_1o_l_g_1p_m_9_1q_-8_1l_1r_0_1g_1u_-4p_1q_1v_-3v_x_1w_-a9_-f_1y_m_-3_1z_-11_-v_20_-r_-m_21_-64_-1j_22_-1a_-10_23_-1p_1m_24_-6n_4_25_-m_1m_26_-c4_n_27_-cm_-16_28_-70_1n_29_-7g_1m_2a_-95_12_2b_-2i_1l_2c_-2g_-6_2d_-6c_1k_2e_-6s_19_2f_-6o_-9_2g_-6e_1s_2h_f_y_2i_-8w_1e_2j_-9e_1f_2k_-76_z_2l_-8h_9_2m_-77_1d_2n_-6o_1m_2o_-8t_m_2p_l_-a_2r_-am_-4_2s_-3k_w_2t_-47_-1u_2u_-1i_-1i_2w_-15_-1m_2x_b_14_2y_g_-m_2z_-3w_17_30_j_-g_31_-92_-x_33_-9m_-y_34_d_-t_35_-6l_-r_36_-6j_-w_37_-3z_-1c_38_-5o_-1s_39_-69_-1d_3b_-5a_-1u_3d_-6h_-12_3e_6_1a_3f_-6h_j_3g_k_m_3i_-3w_-1p_3j_-5y_16_3l_-3k_-1e_3m_-6n_-l_3n_-6d_q_3q_2_-16_3r_-5y_-1o_3s_-37_1q_t_-9q_17_%22%2C%22cx%22%3A0%2C%22cy%22%3A0%2C%22sw%22%3A1256.6218828123144%2C%22sh%22%3A181.71110729057906%2C%22z%22%3A0%7D&amp;gc=true&amp;gd=true&amp;q=select+col5%2C+col6+from+1c7fa0mo0Cx0IYQoxqhPMV_AzpuGPV2kKBqEK_4k&amp;qrs=+where+col5+%3E%3D+&amp;qre=+and+col5+%3C%3D+&amp;qe=&amp;width=900&amp;height=300"></iframe>
      </p>
      <p>
        El gráfico permite visualizar rápidamente la relación de los condenados con más de una Fuerza represora.
      </p>
    </div>
  </div>
</section>
<section class='row' style='margin-bottom: 30px;'>
  <div class='twelve columns'>
    <i><b>Fuente:</b> Unidad Fiscal de seguimiento de las causas por violación de los Derechos Humanos de la Procuración General de la Nación.</i>
  </div>
</section>